/*-----------------CONTACT----------------*/
.sec-contact {
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  height: auto;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 80px 60px 80px 60px;
}
.panel-size {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0 0 0 20px;
  min-height: auto;
  min-width: auto;
}
.left-panel-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-panel-contact h2,
p {
  text-align: left;
}
.parrafo {
  width: 75%;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rrss-contact {
  text-align: left;
}
  .contact-social-link:hover {
    color: #00bfa6;
  }
  .contact-social-link:hover .icon-formatt {
    background-color: #00bfa6;
    color: #fff;
  }
/*---------------Form------------*/
.right-panel-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-sec-form {
  display: flex;
  justify-content: flex-start;
}
.form-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form-lastn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
input[type="text"] {
  border: none;
  background-color: #f6f7f8;
  color: gray;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 15px;
}
label {
  text-align: left;
}
.email-sec-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
}
input[type="email"] {
  padding: 15px;
  border: none;
  background-color: #f6f7f8;
  color: gray;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  font-size: 16px;
}

input[type="text"]:focus {
  box-shadow: 1px 1px 15px -4px rgba(0, 191, 166, 0.68);
  outline: none;

}
input[type="email"]:focus {
  box-shadow: 1px 1px 15px -4px rgba(0, 191, 166, 0.68);
  outline: none;
}

textarea:focus {
  box-shadow: 1px 1px 15px -4px rgba(0, 191, 166, 0.68);
  outline: none;
  -moz-outline-radius: 50px;
}
.message-sec-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
textarea {
  border: none;
  color: gray;
  background-color: #f6f7f8;
  border-radius: 20px;
  width: 100%;
  height: 169px;
  font-size: 13px;
  line-height: 2em;
  padding: 15px;
  box-sizing: border-box;
}
/*Validaciones*/
/*Validacion del input*/
input[type="text"]:valid{
  border: 1px solid green;
  box-shadow: none;
}
input[type="text"]:invalid:not(:placeholder-shown){
  border: 1px solid red;
  box-shadow: none;
}
input[type="email"]:valid{
  border: 1px solid green;
  box-shadow: none;
}
input[type="email"]:invalid:not(:placeholder-shown){
  border: 1px solid red;
  box-shadow: none;
}

@media screen and (max-width: 567px) {
  .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    padding: 100px 60px 100px 60px;
    margin-bottom: 85px;
    width: auto;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .back-c-gray2 {
    background-color: white;
  }
  .panel-size{
    width: auto;
  }
}
