/*--------QUOTE----------------*/
.sec-quote {
    color: white;
    height: 565px;
    width: 100%;
   
  }
  .q-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fa-quote-right {
    font-size: 5rem;
  }
  .q-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 145px;
  }
  .q-text {
    text-align: center;

    font-size: 19px;
    line-height: 26px;
    margin-bottom: 58px;
  }
  .q-author {
    font-size: 27.04px;
    font-weight: 900;
    line-height: 32.448px;
  }
  @media screen and (max-width: 567px) {
    .q-text-box {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 145px;
    }
  }