/*--------QUOTE----------------*/
.sec-quote {
    color: white;
    height: 565px;
    }
  .q-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fa-quote-right {
    font-size: 5rem;
  }
  .q-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .q-text {
    text-align: center;
    font-size: 2rem;
  }
  .q-author {
    font-size: 1.5rem;
    font-weight: 900;
  }
  @media screen and (max-width: 567px) {
    .q-text-box {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 145px;
      padding: 15px;
    }
  }