@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;800;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/*
.gen-text{
  color: ;
}*/
.back-c-white {
  background-color: white;
}
.back-c-gray {
  background-color: #f6f7fb;
}
.back-c-purple {
  background-color: #00bfa6;
}
.m-right-lil {
  margin-right: 15px;
}
.m-right-big {
  margin-right: 30px;
}
.m-botton-lil{
  margin-bottom: 5px;
}
.m-bottom-big {
  margin-bottom: 20px;
}
.m-bottom-huge {
  margin-bottom: 40px;
}
.button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #00bfa6;
  border-radius: 100px;
  padding: 15px 35px 15px 35px;
  text-decoration: none solid rgb(255, 255, 255);
}
.button:hover {
  background-color: #02d4b8;
}
.button:active {
  background-color: #007464;
}
